//HEADER INDEX GRID
.header-index
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 15% 30% 35% 20%; 
    width: 100%;
    height: 80vh;
///ELEMENTOS-GRID!!!!!!!!!!!
.header__nav
    grid-area: 1 / 3 / 2 / 5;
#particles-js
    grid-area: 2 / 1 / 5 / 2;
.header__logo
    grid-area: 1 / 1 / 2 / 2; 
.intro
    grid-area: 2 / 2 / 4 / 5; 
///////////////////
//grid crypto-INDEX!!!!!!!!!!!
.crypto
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background: $black;
    z-index: 1;
    img
        width: 25%
        height: auto; 
///ELEMENTOS GRID
.tituloH2Crypto
    grid-area: 1 / 2 / 3 / 12; 
.tituloH3Crypto
    grid-area: 5 / 4 / 6 / 10;
    align-self: center;
    text-align: center;
.subCrypto 
    grid-area: 3 / 2 / 5 / 12; 
.grid-icons 
    grid-area: 6 / 1 / 12 / 13;
.elements-light-l
    grid-area: 12 / 1 / 13 / 13;

/////////////////////
//GRID DE CRYPTO ICONOS        
.grid-icons
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    height: 70vh;
////////////////////////////S
.icon-bitcoin
    grid-area: 1 / 1 / 2 / 2;
    background-position: 50% 50%;
.icon-ethereum
    grid-area: 1 / 2 / 2 / 3;
    background-position: 98% 60%;
    background-size: 70%; 
.icon-ravencoin
    grid-area: 1 / 3 / 2 / 4;
    background-position: 100% 0%;
.icon-shiba
    grid-area: 2 / 1 / 3 / 2;
    background-position: 50% 60%;
    background-size: 235%; 
.icon-etc
    grid-area: 2 / 2 / 3 / 3;
    background-position: 100% 60%;
    background-size: 70%; 
.icon-monero
    grid-area: 2 / 3 / 3 / 4;
    background-position: 50% 50%;
.icon-ergo
    grid-area: 1 / 4 / 2 / 5;
    background-position: 50% 50%;
.icon-lite
    grid-area: 2 / 4 / 3 / 5;
    background-position: 50% 50%;
////////////////////////////
/////Grid de service
.service  
    background: $black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);      
    height: 100%;
    width: 100%;
    z-index: 1;
    grid-gap: 1px;
    padding-bottom: 2rem; 
    p
        text-align: center;
/////////// distro
    
.grid-1 //SUPORT
    grid-area: 1 / 3 / 6 / 4;
    .service-soporte
        background-position: 70%;
        background-size: 300%;
    .soporte
.grid-2 //armado de rig
    grid-area: 1 / 1 / 6 / 2;
    .service-rig
        background-position: 36%;
        background-size: 300%; 
    .rig    
.grid-3  //HOUSING
    grid-area: 1 / 2 / 6 / 3;
    .service-housing
        background-position: 30%;
    .housing
.service-contact
    background: $white;
    display: flex;
    flex-direction: column;

//GRID PARA HEADER DEL INDEX panel de valores
.value-crypto
 grid-area: 3 / 2 / 4 / 4;
 display: grid;
 grid-template-columns: repeat(12, 1fr);
 grid-template-rows: repeat(12, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 background-color: $white;
//////////////////////
/// Distribucion de grid
.crypto1  
    grid-area: 1 / 1 / 9 / 6; 
    background: red;
.crypto2  
    grid-area: 1 / 6 / 5 / 10; 
    background: white;
.crypto3  
    grid-area: 1 / 10 / 5 / 13;
    background: crimson;
.crypto4  
    grid-area: 5 / 6 / 9 / 13; 
    background: orange;
.crypto5  
    grid-area: 9 / 1 / 13 / 5; 
    background: cyan;
.crypto6  
    grid-area: 9 / 5 / 13 / 8; 
    background: blue;
.crypto7  
    grid-area: 9 / 8 / 11 / 13; 
    background: black; 
.crypto8  
    grid-area: 11 / 8 / 13 / 13;  
    background: $violetM;
//////////////////////////////
