.header__nav
        display: flex
        justify-content: flex-end
        align-items: center
        align-self: center
        height: 100%
        z-index: 1
        margin-right: 3%
        &__menu
            &__item
                list-style: none
                margin: .4em
                overflow: hidden
                &__link
                    display: flex
                    text-decoration: none
                    color: $white
                    padding: .4rem .5rem
                    font-weight: 300
                    font-size: 1.3em
                    user-select: none
                    transition: opacity .5s
                    opacity: .6
                    &:hover
                        opacity: 1
                        filter: drop-shadow(0 0 5px $white)
.fa-user
    color: $white
    align-self: center
.topnav
    display: none
#myLinks
    display: none 
    background: $black
.header__logo
    z-index: 2
    img
        height: 15vh
        width: auto
        user-select: none
.infoCrypto
    display: flex
    flex-direction: column
    color: $white
//////////dropdown
.dropdown 
  float: left
  overflow: hidden
.dropdown .dropbtn 
  font-size: 16px  
  border: none
  outline: none
  color: white
  padding: 14px 16px
  background-color: inherit
  font-family: inherit
  margin: 0
.dropdown-content 
  display: none
  position: absolute
  top: 10%
  right: 1%
  background-color: #f9f9f9
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1
  border-radius: 10px
  overflow: hidden

.dropdown-content a 
  float: none
  color: black
  padding: 12px 16px
  text-decoration: none
  display: block
  text-align: left

.dropdown-content a:hover 
  background-color: #ddd

.dropdown:hover .dropdown-content 
  display: block