.header__nav
        display: flex;
        align-self: center;
        align-items: center;
        z-index: 1;
        &__menu
            &__item
                list-style: none;
                &__link
                    text-decoration: none;
                    color: rgba(233,224,255,1);
                    padding: 1rem;
                    margin: 1rem;
                    font-weight: 700;
                    font-size: 1.3em;
                    user-select: none;
                    z-index: 1;
                    transition: .1s;
                    &::after
                        content: "";
                        display: flex;
                        width: 0%;
                        height: .1rem;
                        background: $wow0;
                        position: relative;
                        top: 0%;
                        left: 0%;
                        transition: .2s ease;
                    &:hover::after
                        backdrop-filter: blur(40px);
                        width: 100%;
.header__logo
    z-index: 1;
    img
        height: 17vh;
        width: auto;
        user-select: none;
        opacity: 1;
.infoCrypto
    display: flex;
    flex-direction: column;
    color: $white;
