@media (min-width: 756px) and (max-width: 815px)
    #particles-js
        width: 60vmax
    .tituloService
        font-size: 3em
    .aboutTitulo
        top: -2%
        font-size: 2rem
    @for $i from 1 through 3
        .grid-#{$i}
            display: grid;
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: 20% 65% 15%
            width: 90%
            height: 25vh
            h3
                font-size: 1.5em
                font-weight: 600
            a
                opacity: 1
        .infoContact
            flex-direction: column
        @each $name in $crypto-icon
            .icon-#{$name} 
                span
                    font-size: 1.7em
    .divisoria-v
        display: none
    .correox, .fa-at
        font-size: 1rem
    .redesSociales
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        &__ul
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            &__li
                list-style: none
                width: 100%
                display: flex
                padding: 1rem
                a
                    display: flex
                    font-size: .9em
                    flex-direction: row
                    align-items: center
                    justify-content: flex-start
                    text-decoration: none
                    color: $black
@media only screen and (max-width: 756px)
    .index-titulo
        font-size: 3rem
    .tituloH3Crypto
        font-size: 2em
    @for $i from 1 through 4
        .about-#{$i}
            display: grid
            grid-template-rows: repeat(6, 1fr) 
            grid-template-columns: repeat(6, 1fr)
            height: 35vh
            padding: .5rem
            h3
                color: $blue
                font-size: 1.6em
                text-transform: uppercase
                grid-area: 1 / 1 / 3 / 6
                font-weight: 300
                align-items: center
                text-align: justify-all
            p
                color: $white
                font-size: 1em
                font-weight: 100
                text-align: left
                text-transform: uppercase
                grid-area: 3 / 1 / 6 / 7
                align-items: center
            span
                grid-area:  1 / 5 / 3 / 7
                align-items: center
                background-position: 65% center
        .aboutTitulo
            font-size: 2.4em
            font-weight: 300
        .gridContact
            h2
                font-size: 1em
    .grid-icons
        display: grid
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr); 
        width: 100%
    .icon-bitcoin
        grid-area: 1 / 1 / 2 / 2;
        background-position: 50% 50%;
        span
            font-size: 1.27em                
    .icon-ethereum
        grid-area: 1 / 2 / 2 / 3;
        background-position: 98% 60%;
        background-size: 70%;
        span
            font-size: 1.27em 
    .icon-ravencoin
        grid-area: 3 / 1 / 4 / 2
        background-position: 100% 0%
        span
            font-size: 1.27em
    .icon-shiba
        grid-area: 3 / 2 / 4 / 3
        background-position: 50% 60%
        background-size: 235%
        span
            font-size: 1.27em 
    .icon-etc
        grid-area: 4 / 1 / 5 / 2
        background-position: 100% 60%
        background-size: 70%
        span
            font-size: 1.27em 
    .icon-monero
        grid-area: 4 / 2 / 5 / 3
        background-position: 50% 50%
        span
            font-size: 1.27em
    .icon-ergo
        grid-area: 2 / 1 / 3 / 2
        background-position: 50% 50%
        span
            font-size: 1.27em
    .icon-lite
        grid-area: 2 / 2 / 3 / 3
        background-position: 50% 50%
        span
            font-size: 1.27em
    /////////////////    
    .gridContact
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 30% 70vh 100%
        background: $black
        width: 100%
        h2
            font-size: 3em
            background: $white
            color: $blue
            font-weight: 500
    .tituloForm
        grid-area: 1 / 1 / 2 / 2
    .infoContact
        grid-area:  3 / 1 / 4 / 2
        display: flex
        flex-direction: column
        padding: 0
    .redesSociales
        display: flex
        flex-direction: column
        width: 100%
        &__ul
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            &__li
                list-style: none
                width: 100%
                display: flex
                padding: 1rem
                a
                    display: flex
                    font-size: .9em
                    flex-direction: row
                    align-items: center
                    justify-content: flex-start
                    text-decoration: none
                    color: $black
    .divisoria-v
        width: 50%
        height: 1px
    ///////////////////
    .formIndex
        grid-area: 2 / 1 / 3 / 2
        display: grid
        grid-template-rows: repeat(10, 1fr)
        grid-template-columns: repeat(1, 1fr)
        width: 100%
        height: auto
        padding: 0
        align-items: center
        background: $white
        border-radius: 5px
        justify-items: center
        z-index: 1
        border-radius: 0
    .dataContact
        grid-area: 3 / 1 / 4 / 2
        z-index: 2
        color: black
        font-size: 1.6rem
    .formName
        grid-area: 2 / 1 / 3 / 2
    .formEmail
        grid-area: 3 / 1 / 4 / 2
    .formTel
        grid-area: 4 / 1 / 5 / 2
    .formUrl
        grid-area: 5 / 1 / 6 / 2
    .consultaH3
        grid-area: 6 / 1 / 7 / 2
        font-size: 1.6em
    .formService
        grid-area: 7 / 1 / 8 / 2
    .formPresupuesto
        grid-area: 8 / 1 / 9 / 2
    .formArea
        grid-area: 9 / 1 / 10 / 2
    input[type=submit]
        grid-area: 10 / 1 / 11 / 2
    input, textarea
        border: solid 1px powderblue
        border-radius: 2px
        text-decoration: none
        padding: 1rem
        resize: none
        margin: 0
        width: 98%
    select
        width: 98%
    ////////////////////////////
    .service  
        background: $black
        display: grid
        grid-template-columns: 5% 1fr 5%
        grid-template-rows: 5% repeat(3, 25vh) 5%
        width: 100%
        z-index: 1
        justify-items: center
        grid-row-gap: 20px
    .grid-1 //SUPORT
        grid-area: 2 / 2 / 3 / 3
        .service-soporte
            background-position: 50% 20%;
    .grid-2 //armado de rig
        grid-area: 3 / 2 / 4 / 3
        .service-rig
            background-position: 36%;   
    .grid-3  //HOUSING
        grid-area: 4 / 3 / 5 / 3
    .tituloService
        grid-area: 1 / 1 / 2 / 4
        color: $white
        padding: 1rem
        font-size: 1.5em
    .subServices
        display: none
    .elements-light-l
        grid-area: 1 / 2 / 2 / 3
        position: relative
        top: 35%
    .grid-1 //SUPORT
        grid-area: 2 / 2 / 3 / 3
        height: 100%
        width: auto
        margin: 0 1rem
        h3
            grid-row: 2 / 3
        a
            opacity: 1
    .service-soporte
        background-size: 100%
        background-position: 50% 20%
        h3
            grid-row: 2 / 3
        a
            opacity: 1
    .grid-2 //armado de rig
        grid-area: 3 / 2 / 4 / 3
        height: 100%
        width: auto
        margin: 0 1rem
        h3
            grid-row: 2 / 3
        a
            opacity: 1
    .service-rig
        background-position: 36%
        background-size: 100%
        h3
            grid-row: 2 / 3
        a
            opacity: 1
    .grid-3  //HOUSING
        grid-area: 4 / 2 / 5 / 3
        height: 100%
        width: auto
        margin: 0 1rem
        h3
            grid-row: 2 / 3
        a
            opacity: 1
    .service-housing
        background-position: 30%
        background-size: 100%
        h3
            grid-row: 2 / 3
        a
            opacity: 1
@media only screen and (max-width: 756px)
    .header-index
        height: 36vh
    .header__nav
        display: none
    .topnav 
        display: flex
        grid-area: 1 / 1 / 5 / 5
        overflow: hidden
        position: relative
        z-index: 55
    .topnav a 
        color: $white
        padding: 14px 16px
        text-decoration: none
        font-size: 17px
        display: block
    .topnav a.icon 
        background: $black
        display: block
        position: absolute
        right: 0
        top: 0
    .topnav a:hover 
        background-color: $white
        color: $black
    #myLinks 
        width: 100%
    #particles-js
        width: 40vmax
    .aboutTitulo
        display: flex
        position: static
        font-size: 1.2rem
        width: 100%
        text-align: center
        font-weight: 500
    .tituloFaq
        font-size: 1.2rem
    .about
        &__about
            width: 100%
            &__tittles
                display: flex
                flex-direction: column-reverse
                &-h3
                    border-radius: 0px
                    margin: .5rem
                &-pic
                    width: 100%
                    height: 300px
                    background-size: cover
    .details__sumary
        font-size: .7rem
    //////////// FORM
    #contact
        font-size: 1.2rem
    .formIndex
        display: flex
        flex-direction: column
    .DataContact
        font-size: 1rem
    ////////// redes
    .redesSociales
        display: flex
        flex-direction: column
        position: relative
        overflow: hidden
        &__ul
            &__li 
                display: flex
                flex-direction: column
                list-style: none
                a
                    padding: 0
    .gridContact
        display: flex
        flex-direction: column
        background: $black
    .tituloForm
        grid-area: 1 / 1 / 2 / 2
        height: 100%
        width: 100%
        align-items: center
        justify-content: center
        z-index: 1
    .infoContact
        grid-area: 8 / 1 / 13 / 2
        background: blue
        height: 50%   
        background: $white
        z-index: 1
        padding: 0rem
    .formIndex
        grid-area: 2 / 1 / 8 / 2
        display: flex
        flex-direction: column
    ////////Redes sociales
    .redesSociales
        display: flex
    .tituloRs
        font-weight: 300
        font-size: 1rem
    .zodsecurity
        display: none
    .fa-instagram-square, .fa-facebook-f, .fa-linkedin-in, .fa-twitter, .fa-twitch
        font-size: 2em 
        padding: 0rem
        margin: 0rem
    .contactDir
        width: 100%
    .correox
        font-size: 1rem
    .divisoria-v
        display: none
