@keyframes pip
    0%
        box-shadow: 0px 0px 15px cyan
    25%
        box-shadow: 0px 0px 18px cyan
    50%
        box-shadow: 0px 0px 21px cyan
    75%
        box-shadow: 0px 0px 18px cyan
    100%
        box-shadow: 0px 0px 15px cyan