//fLEX CLASS
.flex-row
    display: flex;
    flex-direction: row;
    justify-content: center;
.flex-column
    display: flex;
    flex-direction: column;
////CRYPTO EACH CON MAPS PARA LOS ICONOS
$crypto-icon: bitcoin, ethereum, litecoin, monero
@each $name in $crypto-icon
 .icon-#{$name}
     background: url(../media/ico/#{$name}.svg)
     width: 75px;
     height: 75px;
     background-repeat: no-repeat;
     background-position: 50% 100%;
///BUCLE PARA SERVICE-INDEX -CATEGORIAS
$service: rig rental housing
@each $i in $service
    .service-#{$i}
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url('../media/service/#{$i}.webp');
        background-size: 100%; 
        background-attachment: fill;
        background-repeat: no-repeat;
        background-position: 50% 60%;
        p
            display: flex;
            color: $black;
            width: 80%;
            align-self: center;

//ABOUT-GRID    
@for $i from 1 through 4
    .about-#{$i}
     padding: 3rem;
     h3
         color: $black;
         background: $whiteGradientO;
         font-weight: 700;
         width: 100%;
         font-size: 2em;
         filter: drop-shadow(5px 1px 30px rgba(255, 255, 255, .4 ));
         border-radius: 5%;
     p
         color: $white;
         width: 100%;
         margin-top: 2%;
         margin-bottom: 5%;
