//fLEX CLASS
.flex-row
    display: flex;
    flex-direction: row;
    justify-content: center;
.flex-column
    display: flex;
    flex-direction: column;
////CRYPTO EACH CON MAPS PARA LOS ICONOS
$crypto-icon: bitcoin, ethereum, ravencoin, shiba, etc, monero, ergo, lite
@each $name in $crypto-icon
 .icon-#{$name} 
    display: flex;
    flex-direction: column-reverse;
    background: url(../media/ico/#{$name}.svg);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: 212%;
    span
        display: flex;
        font-size: 2.7em;
        text-align: left;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background: $blackRGBA03;
        user-select: none;
        transition: .1s ease;   
    &:hover
        & > span
            background: $blackGradientO;
            color: $wow1;
            text-shadow: 0px 0px 15px;
                  
///BUCLE PARA SERVICE-INDEX -CATEGORIAS
@for $i from 1 through 3
    .grid-#{$i}
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 60vh;
        p
            grid-area: 2 / 1 / 3 / 7;    
$service: rig soporte housing
@each $i in $service
    .service-#{$i}
        grid-area: 1 / 7 / 3 / 11;
        display: flex;
        background-image: url('../media/service/#{$i}.webp');
        background-size: 100%;
        background-position: 100%
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      
//ABOUT-GRID    
@for $i from 1 through 4
    .about-#{$i}
     padding: 3rem;
     h3
         color: $black;
         background: $whiteGradientO;
         font-weight: 700;
         width: 100%;
         font-size: 2em;
         filter: drop-shadow(5px 1px 30px rgba(255, 255, 255, .4 ));
         border-radius: 5%;
     p
         color: $white;
         width: 100%;
         margin-top: 2%;
         margin-bottom: 5%;
