//Black 161616
$black: #181717
$blackO5: rgba(23, 23, 23, .5)
$blackValueRGBA: rgba(23, 23, 23, .9)
$blackValueRGBA0: rgba(23, 23, 23, .2)
$blackGradient: linear-gradient(180deg, $blackValueRGBA0 0%, $blackValueRGBA 100%)
$blackGradientO: linear-gradient(0deg, $blackValueRGBA0 0%, $blackValueRGBA 100%)
$blackRGBA03: rgba(0, 0, 0, .9)
//blanco e9e0fb !!!!!!!!!!!!
$white: whitesmoke
$whiteO: rgba(233,224,251,.8)
$whiteO5: rgba(233,224,251,.4)
//////Gradiente white ////////
$whiteGradient: linear-gradient(180deg, rgba(233,224,251,0) 0%, rgba(255,255,255,.9) 100%)
$whiteGradientR: linear-gradient( 0deg, rgba(233,224,251,.1) 0%, rgba(255,255,255,1) 100%)
$whiteGradientO: radial-gradient(circle, rgba(233,224,255,1) 50%, rgba(233,224,255,0.6) 87%, rgba(233,224,255,0) 100%)
// BLUE !!!!!!!!
$blue: #366be7
$blueB: rgba(27,55,118,1)
$blueBO: rgba(27,55,118,.4)
$blueLight: #00A7CC
///////////Gradiente azul/////
$blueGradient: linear-gradient(0deg, rgba(27,55,118,1) 0%, rgba(13,40,70,.9) 100%)
$blueGradientO: linear-gradient(180deg, rgba(27,55,118,0.1) 0%, rgba(34,193,195,1) 38%, rgba(27,55,118,.1) 100%)
$blueWow: linear-gradient(180deg, rgba(74,83,102,1) 0%, rgba(4,7,14,1) 100%)
//violeta 45036d !!!!!!!!!!!!!!!!!!!
$purple: #45036d
$violetB: #410231
$violetM: #69046c
$violetW: #451046
//Gradient violeta
$violetGradient: linear-gradient(0deg, rgba(23,23,23,0) 0%, #366be7 55%)
///////WOOOOOOOOOOW/////
$wow: radial-gradient(circle at 50% 50%, rgba(42,246,250,.7), rgba(42,246,250,.1))
$wow-reverse: linear-gradient(90deg, rgba(42,246,250,.1) 0%, rgba(42,246,250,.7) 100%)
$wow0: linear-gradient(180deg, rgba(42,246,250,1) 0%, rgba(57,100,148,.1) 100%)
$wow1: linear-gradient(180deg, rgba(42,246,250,1) 0%, rgba(57,100,148,1) 100%)
