//HEADER INDEX
.header-index
    background: $black
    &::before
        content: ""
        grid-area: 1/ 1 / 5 / 5
        background-image: url(../media/background.jpg)
        background-size: cover
        opacity: 1 
        z-index: 0
    &::before
        content: ""
        grid-area: 1/ 1 / 5 / 5
        background: linear-grandient(0deg, rgba(24, 24, 24, 1) 100%, rgba(24, 24, 24, .1) 0%)
        z-index: 1
        width: auto
        height: auto       
.intro
    &__section
        p
            width: 60%;
// CRYPTO-INDEX esta en griid paa!!!!!!!!!!!!!!!!!!!
.main
    height: auto;
    justify-content: center