//HEADER INDEX
.header-index
    background-color: $black
    background-image: url(../media/background.jpg)
    background-size: cover
    &::after
        content: ""
        grid-area: 1/ 1 / 5 / 5
        background: linear-gradient(0deg, rgba(24,23,23, 1) 0%, rgba(24,23,23,0) 100%)
        width: 100%
        height: 100%
        z-index: 0     
// CRYPTO-INDEX esta en griid paa!!!!!!!!!!!!!!!!!!!
.main
    height: auto
    justify-content: center
.faq
    background: $black
.tituloFaq
    color: $white
.detailsFaq
    background: $white
    margin: 1rem
    user-select: none
    cursor: pointer
    border-radius: 20px
    transition: all 0.5s ease-out
    &__content
        height: 0vh
    &[open] > &__content
        height: 10vh
    &:hover
        box-shadow: 0 0 15px $blueLight
        transition: background box-shadow 2s
    &:hover > &__sumary
    &__sumary
        color: $black
        font-size: 1.5rem
        border-radius: 15px
        padding: .5rem
        margin-left: .5rem
        list-style: none
    p
        color: $black
        background: $white
        border-radius: 0 0 20px 20px 
        margin: .1rem 0rem
        padding: 1rem
        cursor: text
        user-select: text
#about
    scroll-behavior: smooth